<section >
  <div class="container">
    <div class="row ">
      {{#each products}}
      <div class="col-md-3 " >
        <div class="card  " style="width: 300px;height: 370px; margin-top: 40px; ">
          <img src="/product-images/{{this._id}}.jpg"
            style="width: 250px; height: 150px; margin-left: 20px;margin-top: 5px;" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{this.Name}}</h5>
            <p>{{this.category}}</p>
            <p>{{this.Price}}</p>
            <p class="card-text">{{this.Description}}</p>
            <button onclick="addToCart('{{this._id}}')" class="btn btn-outline-info">Add to Cart</button>
          </div>
        </div>
      </div>
      {{/each }}
    </div>
  </div>
</section>

